<div id="<%= dom_id suburb %>">
  <p>
    <strong>Name:</strong>
    <%= suburb.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= suburb.city_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= suburb.user_id %>
  </p>

</div>
