<div class="page">
  <fieldset>
    <div class="">
      <legend class="m-3" style="color: rgb(72, 72, 116);">
        <%= link_to raw("<i class='bi-arrow-left-circle backIcon'></i>"), suburbs_path %>
        New suburb
      </legend>
      <hr>
    </div>

    <%= render "form", suburb: @suburb %>
  </fieldset>

  <br>

</div>

