<div class="page">
  <div class="d-flex justify-content-between">
    <h3 class="m-4" style="color: rgb(72, 72, 116);">
      <%= link_to raw("<i class='bi-arrow-left-circle backIcon'></i>"), users_path %>
        Editing user
    </h3>
  </div>

  <%= render "form", contact: @user %>

  <br>

</div>

