<div class="page">
  <fieldset>
    <div class="">
      <legend class="m-3" style="color: rgb(72, 72, 116);">
        <%= link_to raw("<i class='bi-arrow-left-circle backIcon'></i>"), users_path %>
        New user
      </legend>
      <hr>
    </div>

    <%= render "form", user: @user %>
  </fieldset>

  <br>

</div>


