<div class="page">
  <%= link_to raw("<i class='bi-arrow-left-circle backIcon'  style='font-size: 2rem;'></i>"), contacts_path %>
  <h1 class="my-3" style="color: rgb(72, 72, 116);">Editing contact</h1>

  <%= render "form", contact: @contact %>

  <br>

</div>
