<div class="page">
  <%= link_to raw("<i class='bi-arrow-left-circle'  style='font-size: 2rem; color: rgb(72, 72, 116);'></i>"), contacts_path %>
  <h1 class="mt-3">Editing contact</h1>

  <%= render "form", contact: @contact %>

  <br>

</div>
