<p style="color: green"><%= notice %></p>

<div class="contactTop">
  <h1>Contacts</h1>
  <div class="contactNew">
    <%= link_to " + Add contact", new_contact_path %>
  </div>
</div>

<div id="contacts">
<% i = 1 %>
  <% @contacts.each do |contact| %>
    <%= render contact, i: i %>
    <% i += 1 %>
  <% end %>
</div>


