<div id="<%= dom_id permissions_role %>">
  <p>
    <strong>Role:</strong>
    <%= permissions_role.role_id %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= permissions_role.permission_id %>
  </p>

</div>
