<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= city.region_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= city.user_id %>
  </p>

</div>
