<div class="page">
  <div class="d-flex justify-content-between">
    <h3 class="m-4" style="color: rgb(72, 72, 116);">
      <%= link_to raw("<i class='bi-arrow-left-circle backIcon'></i>"), cities_path %>
        Editing city
    </h3>
  </div>

  <%= render "form", city: @city %>

  <br>

</div>

