<div class="pageHeader">
    <div class="greet">
        Hello
        <%= current_user.fname %>
    </div>
    <div class="signout">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
</div>
<div class="header1">
    <%= controller_name.capitalize %>
</div>